 /**html {
   background-color: rgb(231, 186, 228);
   background-image: url("bloom.png");
  
}*/
  

.navbar {
    color:blanchedalmond !important;
}

body {
    margin-left: 300px;
    margin-right: 300px; 
    background-color: rgba(232, 222, 235, 0.87) !important;
    
}

.container-fluid {
    justify-content: center;
}

a:link {
    color:rgb(87, 10, 110)
}
a:hover {
    color:navy;
}

#me {
    width:400px;
    border-radius: 20%
}

#self {
   justify-content: center;
   padding-top: 25px;
   
}

#abt {
    margin-top: 25px;
}

#words {
    padding: 50px;
}

h1 {  
    font-family: 'Vollkorn', serif;
    text-shadow: 2px 2px rgb(164, 143, 177);
}

h2 { 
    font-family: 'Vollkorn', serif;
    font-size: 22px !important;
    font-weight: bolder !important;}
h3 {
    font-family: 'Vollkorn', serif;
font-size: 18px !important;}
p {
    font-family: 'Ubuntu Mono', monospace;
}